@page
@model ActivityTracker.Pages.ActivityLogs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ActivityLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityLog.UserId" class="control-label"></label>
                <input asp-for="ActivityLog.UserId" class="form-control" value="georgiqg" readonly />
                <span asp-validation-for="ActivityLog.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityLog.LogDate" class="control-label"></label>
                <input asp-for="ActivityLog.LogDate" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="ActivityLog.LogDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityLog.ActivityId" class="control-label"></label>
                <select id="activityId" asp-for="ActivityLog.ActivityId" class="form-control" asp-items="ViewBag.ActivityId">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ActivityLog.Units" class="control-label"></label>
                <input asp-for="ActivityLog.Units" class="form-control" id="units" />
                <span asp-validation-for="ActivityLog.Units" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityLog.TotalPoints" class="control-label"></label>
                <input asp-for="ActivityLog.TotalPoints" class="form-control" value="" id="totalPoints" readonly />
                <span asp-validation-for="ActivityLog.TotalPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <input type="hidden" id="str-activities" value="@ViewData["strActivities"]" />

        @*@foreach (var item in Model.Activities)
        {
            <input id="activity-@item.ActivityId" type="hidden" value="@item.PointsPerUnit" />
        }*@
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/activity-logs.js"></script>
}
